asgiref==3.9.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
crispy-bootstrap5==2025.6
django==4.2.23
django-bootstrap-v5==1.0.11
django-crispy-forms==2.4
docker==7.1.0
gunicorn==23.0.0
idna==3.10
packaging==25.0
python-dotenv==1.1.1
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
typing-extensions==4.14.0
urllib3==2.5.0
whitenoise==6.9.0
