{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Provisioner Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
      <nav class="nav">
          <a class="nav-link active" href="{% url 'index' %}">Instances</a>
          <a class="nav-link" href="{% url 'map' %}">Map</a>
          <a class="nav-link" href="{% url 'proxy' %}">Proxy</a>
          {% if request.user.is_authenticated %}
          <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input class="nav-link bg-transparent border border-0" type="submit" value="Logout">
          </form>
          <p class="nav-link disabled">Welcome {{ user.username }}</p>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
      </nav>
      <div class="container">
      {% block content %}
      {% endblock %}
      </div>
  </body>
</html>
