{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h1>{{ AMSYS_TITLE }} Dashboard</h1>
    <h2>Edit {{ instance.app_name }}</h2>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'edit_instance' instance.app_name %}" method="POST">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>

    <script>
        {% if status == "STOPPED" or status == "REMOVED" %}
            const instance_stopped = true;
        {% else %}
            const instance_stopped = false;
        {% endif %}
    </script>
    <script src="{% static 'advanced_instance_settings.js' %}"></script>
{% endblock %}
