{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-between">
<h1>Provisioner Dashboard</h1>
{% if is_proxy_running %}
<h2><span class="badge bg-success mx-5">Proxy active</span></h2>
{% else %}
<h2><span class="badge bg-danger mx-5">Proxy inactive</span></h2>
{% endif %}
</div>
<hr>

<div class="row">
    <div class="col">
        <h2>Organizations</h2>
        {% if perms.main.add_organizationentitymodel %}
        <a href="{% url 'create_organization' %}"><button class="btn btn-primary">Create organization</button></a>
        {% else %}
        <button class="btn btn-primary disabled" disabled="disabled">Create organization</button>
        {% endif %}

        <h3 class="mt-5">Created organizations</h3>
        {% for org in organizations %}
        <p><a class="btn btn-sm btn-success" href="{% url 'view_organization' org.org_name %}">{{ org.org_name }}</a></p>
        {% endfor %}

    </div>
    <div class="col">
        <h2>All app instances</h2>

        {% if not is_proxy_running %}
        <div class="alert alert-danger" role="alert">
            The Traefik proxy is not running! Access to app instances is limited.
            <a class="btn btn-sm btn-secondary" href="{% url 'proxy' %}">Manage proxy</a>
        </div>
        {% endif %}

        {% if organizations %}
            {% if perms.main.add_appinstancemodel %}
            <a href="{% url 'create_app_instance' %}"><button class="btn btn-primary">Create new instance</button></a>
            {% else %}
            <button class="btn btn-primary disabled" disabled="disabled">Create new instance</button>
            {% endif %}
        {% else %}
            <button class="btn btn-primary disabled" disabled="disabled">Create new instance</button><span style="color: red"> No organizations defined</span>
        {% endif %}

        {% for status_entry in instance_statuses %}
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">{{ status_entry.instance.app_name }}
                            {% if status_entry.status == "RUNNING" %}
                            <span class="badge bg-success mx-3" id="{{ status_entry.instance.app_name }}_status">{{ status_entry.status }}</span>
                            {% elif status_entry.status == "STOPPED" %}
                            <span class="badge bg-secondary mx-3" id="{{ status_entry.instance.app_name }}_status">{{ status_entry.status }}</span>
                            {% elif status_entry.status == "MISSING" %}
                            <span class="badge bg-warning mx-3" id="{{ status_entry.instance.app_name }}_status">{{ status_entry.status }}</span>
                            {% elif status_entry.status == "ERROR" or status_entry.status == "REMOVED" %}
                            <span class="badge bg-danger mx-3" id="{{ status_entry.instance.app_name }}_status">{{ status_entry.status }}</span>
                            {% endif %}
                        </h4>
                        <p class="card-text text-body-secondary">{{ status_entry.instance.owner_org.org_name }} 
                        - <a class="card-link" href="http://localhost/{{ status_entry.instance.url_path }}">/{{ status_entry.instance.url_path }}</a>
                        {% if not is_proxy_running %}
                        <em class="text-danger"> Proxy inactive</em>
                        {% endif %}
                        </p>

                        <div class="mb-3">
                            <a href="/view_instance/{{ status_entry.instance.app_name }}"><button class="btn btn-sm btn-success">View</button></a>

                            {% if perms.main.change_appinstancemodel %}
                                {% if status_entry.status == "RUNNING" %}
                                <button class="btn btn-sm btn-outline-warning" id="{{ status_entry.instance.app_name }}_stop_button" onclick="call_stop_instance('{{ status_entry.instance.app_name }}')">Stop</button>
                                {% elif status_entry.status == "STOPPED" %}
                                <button class="btn btn-sm btn-outline-success" id="{{ status_entry.instance.app_name }}_start_button" onclick="call_start_instance('{{ status_entry.instance.app_name }}')">Start</button>
                                <button class="btn btn-sm btn-outline-danger" id="{{ status_entry.instance.app_name }}_remove_button" onclick="call_remove_instance('{{ status_entry.instance.app_name }}')">Remove</button>
                                {% elif status_entry.status == "REMOVED" %}
                                <button class="btn btn-sm btn-outline-success" id="{{ status_entry.instance.app_name }}_restart_button" onclick="call_restart_instance('{{ status_entry.instance.app_name }}')">Restart</button>
                                <button class="btn btn-sm btn-outline-secondary" id="{{ status_entry.instance.app_name }}_forget_button" onclick="call_forget_instance('{{ status_entry.instance.app_name }}')">Forget</button>
                                {% else %}
                                <button class="btn btn-sm btn-outline-danger" id="{{ status_entry.instance.app_name }}_remove_button" onclick="call_remove_instance('{{ status_entry.instance.app_name }}')">Remove</button>
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if status_entry.instance.using_compose %}
                        <p class="card-subtitle text-body-secondary"><strong>Containers</strong><span class="badge bg-secondary mx-5">Compose</span></p>
                        {% else %}
                        <p class="card-subtitle text-body-secondary"><strong>Containers</strong></p>
                        {% endif %}

                        <ul>
                        {% for container in status_entry.target_containers %}
                        <li class="card-text text-body-secondary">{{ container }}</li>
                        {% endfor %}
                        </ul>

                        {% if status_entry.is_error %}
                        <div class="alert alert-danger p-2">{{ status_entry.status_message }}</div>
                        {% else %}
                        <div class="alert alert-success p-2">{{ status_entry.status_message }}</div>
                        {% endif %}
                    </div>
                    <div class="col-4 vstack">
                        <p class="card-text text-end">Created: {{ status_entry.instance.created_at }}</p>
                        {% if status_entry.status == "RUNNING" %}
                        <div class="dropdown mt-auto text-end">
                            <button class="btn btn-sm btn-clear" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'more_vert.svg' %}" alt="More" width="24" />
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="btn btn-sm btn-outline-danger ms-2" id="{{ status_entry.instance.app_name }}_kill_button" onclick="call_kill_instance('{{ status_entry.instance.app_name }}')">Kill</button></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'instance_controls.js' %}"></script>
{% endblock %}
