{% extends "base.html" %}
{% load static %}
{% block body %}
    <h1>Provisioner Dashboard</h1>

    <h2>Organizations</h2>
    {% if perms.main.add_organizationentitymodel %}
    <a href="{% url 'create_organization' %}"><button>Create organization</button></a>
    {% else %}
    <button disabled="disabled">Create organization</button>
    {% endif %}

    {% for org in organizations %}
    <p><a href="{% url 'view_organization' org.org_name %}">{{ org.org_name }}</a></p>
    {% endfor %}

    <h2>App instances</h2>
    {% if organizations %}
        {% if perms.main.add_appinstancemodel %}
        <a href="{% url 'create_app_instance' %}"><button>Create new instance</button></a>
        {% else %}
        <button disabled="disabled">Create new instance</button>
        {% endif %}
    {% else %}
        <button disabled="disabled">Create new instance</button><span style="color: red"> No organizations defined</span>
    {% endif %}

    <h2>Running app instances</h2>
    {% for instance in running_instances %}
    <p>
    {{ instance.app_name }}
    @<a href="/{{ instance.url_path }}">/{{ instance.url_path }}</a>
    - {{ instance.owner_org.org_name }}
    - <span id="{{ instance.app_name }}_status">Running</span>
    - {{ instance.created_at }}
    <a href="/view_instance/{{ instance.app_name }}"><button>View</button></a>
    {% if perms.main.change_appinstancemodel %}
    <button id="{{ instance.app_name }}_stop_button" onclick="call_stop_instance('{{ instance.app_name }}')">Stop</button>
    {% else %}
    <button disabled="disabled">Stop</button>
    {% endif %}
    </p>
    {% endfor %}

    <h2>Stopped app instances</h2>
    {% for instance in stopped_existing_instances %}
    <p>
    {{ instance.app_name }}
    @/{{ instance.url_path }}
    - Stopped
    - {{ instance.created_at }}</p>
    {% endfor %}

    <h2>Missing instances</h2>

    {% if stopped_nonexistent_instances %}
        <h3>These instances have been stopped and can't be found by Docker</h3>
    {% endif %}

    {% for instance in stopped_nonexistent_instances %}
    <p>
    {{ instance.app_name }}
    @/{{ instance.url_path }}
    - Stopped
    - {{ instance.created_at }}
    {% if perms.main.delete_appinstancemodel %}
    <button id="{{ instance.app_name }}_remove_button" onclick="call_remove_instance('{{ instance.app_name }}')">Remove</button>
    {% else %}
    <button disabled="disabled">Remove</button>
    {% endif %}
    </p>
    {% endfor %}

    <script src="{% static 'instance_controls.js' %}"></script>
{% endblock %}
