{% load static %}
{% block body %}
    <h1>Provisioner Dashboard</h1>

    <a href="{% url 'create_app_instance' %}"><button>Create new instance</button></a>

    <h2>Running app instances</h2>
    {% for instance in running_instances %}
    <p>
    {{ instance.app_name }}
    @<a href="http://localhost/{{ instance.url_path }}">/{{ instance.url_path }}</a>
    - <span id="{{ instance.app_name }}_status">Running</span>
    - {{ instance.created_at }}
    <button id="{{ instance.app_name }}_stop_button" onclick="call_stop_instance('{{ instance.app_name }}')">Stop</button>
    </p>
    {% endfor %}

    <h2>Stopped app instances</h2>
    {% for instance in stopped_instances %}
    <p>
    {{ instance.app_name }}
    @/{{ instance.url_path }}
    - Stopped
    - {{ instance.created_at }}</p>
    {% endfor %}

    <script src="{% static 'index.js' %}"></script>
{% endblock %}
