{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endblock %}

{% block content %}
<h1>Provisioner Dashboard</h1>
<hr>

<div id="map" style="width: 800px; height: 500px;"></div>

{% comment %}
The script element below just exists so that data from the backend can
be used in frontend JS.
{% endcomment %} 
<script>
    const locations = {{ locations|safe }};
    const connections = {{ connections|safe }};
</script>
<script src="{% static 'map.js' %}"></script>
{% endblock %}
