{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-between">
<h1>Provisioner Dashboard</h1>
{% if is_proxy_running %}
<h2><span class="badge bg-success mx-5">Proxy active</span></h2>
{% else %}
<h2><span class="badge bg-danger mx-5">Proxy inactive</span></h2>
{% endif %}
</div>
<hr>

<div class="row">
    <div class="col">
        <h2>Organizations</h2>
        {% if perms.main.add_organizationentitymodel %}
        <a href="{% url 'create_organization' %}"><button class="btn btn-primary">Create organization</button></a>
        {% else %}
        <button class="btn btn-primary disabled" disabled="disabled">Create organization</button>
        {% endif %}

        <h3 class="mt-5">Created organizations</h3>
        {% for org in organizations %}
        <p><a class="btn btn-sm btn-success" href="{% url 'view_organization' org.org_name %}">{{ org.org_name }}</a></p>
        {% endfor %}

    </div>
    <div class="col">
    </div>
</div>
{% endblock %}
