{% extends "base.html" %}
{% block body %}

<h1>Provisioner Dashboard</h1>
<h2>{{ org.org_name }}</h2>

{% if connected_apps %}
<h3>Connected app instances</h3>
{% else %}
<h3>No connected app instances</h3>
{% endif %}
{% for instance in connected_apps %}
    <p>
    {{ instance.app_name }}
    @<a href="/{{ instance.url_path }}">/{{ instance.url_path }}</a>
    - <span id="{{ instance.app_name }}_status">Running</span>
    - {{ instance.created_at }}
    <a href="/view_instance/{{ instance.app_name }}"><button>View</button></a>

    {% comment %}
    {% if perms.main.change_appinstancemodel %}
    <button id="{{ instance.app_name }}_stop_button" onclick="call_stop_instance('{{ instance.app_name }}')">Stop</button>
    {% else %}
    <button disabled="disabled">Stop</button>
    {% endif %}
    {% endcomment %}
    </p>
{% endfor %}
{% endblock %}
