{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>{{ AMSYS_TITLE }} Dashboard</h1>
<hr>

<div class="row">
    <div class="col">
        <h2>{{ instance.app_name }}</h2>
        <p>
            Location:
            <a href="{% url 'view_location' instance.location.location_name %}">{{ instance.location.location_name }}</a>
        </p>
        <p>
            Connected organization:
            <a href="{% url 'view_organization' instance.location.owner_org.org_name %}">{{ instance.location.owner_org.org_name }}</a>
        </p>
        <p>Hosted at <a href="http://localhost/{{ instance.url_path }}">http://localhost/{{ instance.url_path }}</a></p>

        <p>Instance status: {{ instance.status }}</p>
        {% comment %}
        TODO: Add instance status stuff here once instance cards are separated out of templates.
        {% endcomment %}

        <p>Created at {{ instance.created_at }}</p>

        {% if perms.main.change_appinstancemodel %}
            <a class="btn btn-secondary" href="{% url 'edit_instance' instance.app_name %}">Edit</a>
        {% else %}
            <button class="btn btn-secondary disabled" disabled="disabled">Edit</button>
        {% endif %}

        {% if destinations %}
        <h3>Can send files to:</h3>
        {% for dest_connection in destinations %}
        <p><a href="/view_instance/{{ dest_connection.instance_to.url_path }}">{{ dest_connection.instance_to.app_name }}</a></p>
        {% endfor %}
        {% else %}
        <h3>No file share destinations defined</h3>
        {% endif %}
    </div>
</div>

<script src="{% static 'instance_controls.js' %}"></script>
{% endblock %}
