{% extends "base.html" %}
{% block content %}

<h1>Provisioner Dashboard</h1>
<hr>
<div class="row">
    <div class="col">
        <h2>{{ org.org_name }}</h2>

        <strong>Nationality</strong>
        <p>{{ org.nationality }}</p>
    </div>
    <div class="col">
        <h2>Locations in {{ org.org_name }}</h2>

        <a href="{% url 'create_location' %}"><button class="btn btn-primary">Add location</button></a>

        {% for location in locations %}
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">{{ location.location_name }}
                            <span class="badge bg-success mx-3" id="{{ location.location_name }}_status">{{ location.code }}</span>
                        </h4>
                        <p class="card-text text-body-secondary">{{ location.owner_org.org_name }} 
                        </p>

                        <div class="mb-3">
                            <a href="{% url 'view_location' location.location_name %}"><button class="btn btn-sm btn-success">View</button></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <p class="card-text text-end">Created: {{ status_entry.instance.created_at }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
