{% block body %}

<h1>Provisioner Dashboard</h1>
<h2>{{ instance.app_name }}</h2>
<p>Hosted at <a href="http://localhost/{{ instance.url_path }}">http://localhost/{{ instance.url_path }}</a></p>

{% if instance.is_running %}
<p>Instance is running</p>
<button id="{{ instance.app_name }}_stop_button" onclick="call_stop_instance('{{ instance.app_name }}')">Stop</button>
{% else %}
<p>Instance is stopped</p>
<button id="{{ instance.app_name }}_remove_button" onclick="call_remove_instance('{{ instance.app_name }}')">Remove</button>
{% endif %}

<p>Created at {{ instance.created_at }}</p>

<a href="{% url 'edit_instance' instance.app_name %}"><button>Edit</button></a>

{% if destinations %}
<h3>Can send files to:</h3>
{% for dest_connection in destinations %}
<p><a href="/view_instance/{{ dest_connection.instance_to.url_path }}">{{ dest_connection.instance_to.app_name }}</a></p>
{% endfor %}
{% else %}
<h3>No file share destinations defined</h3>
{% endif %}

{% endblock %}
