{% extends "base.html" %}
{% load static %}
{% block body %}

<h1>Provisioner Dashboard</h1>
<h2>{{ instance.app_name }}</h2>
<p>
    Connected organization:
    <a href="{% url 'view_organization' instance.owner_org.org_name %}">{{ instance.owner_org.org_name }}</a>
</p>
<p>Hosted at <a href="http://localhost/{{ instance.url_path }}">http://localhost/{{ instance.url_path }}</a></p>

{% if instance.is_running %}
    <p>Instance is <span id="{{ instance.app_name }}_status">running</span></p>

    {% if perms.main.change_appinstancemodel %}
        <button id="{{ instance.app_name }}_stop_button" onclick="call_stop_instance('{{ instance.app_name }}')">Stop</button>
    {% else %}
        <button disabled="disabled">Stop</button>
    {% endif %}
{% else %}
    <p>Instance is <span id="{{ instance.app_name }}_status">stopped</span></p>

    {% if perms.main.delete_appinstancemodel %}
        <button id="{{ instance.app_name }}_remove_button" onclick="call_remove_instance('{{ instance.app_name }}')">Remove</button>
    {% else %}
        <button disabled="disabled">Remove</button>
    {% endif %}
{% endif %}

<p>Created at {{ instance.created_at }}</p>

{% if perms.main.change_appinstancemodel %}
    <a href="{% url 'edit_instance' instance.app_name %}"><button>Edit</button></a>
{% else %}
    <button disabled="disabled">Edit</button>
{% endif %}

{% if destinations %}
<h3>Can send files to:</h3>
{% for dest_connection in destinations %}
<p><a href="/view_instance/{{ dest_connection.instance_to.url_path }}">{{ dest_connection.instance_to.app_name }}</a></p>
{% endfor %}
{% else %}
<h3>No file share destinations defined</h3>
{% endif %}

<script src="{% static 'instance_controls.js' %}"></script>
{% endblock %}
